# =========================
# Build
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / JetBrains
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# ASP.NET / Configurações locais
# =========================
appsettings.json
appsettings.Development.json
appsettings.Local.json

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Entity Framework
# =========================
*.dbmdl

# =========================
# SQL Server
# =========================
*.mdf
*.ldf

# =========================
# Pacotes
# =========================
*.nupkg
packages/

# =========================
# Sistema operacional
# =========================
Thumbs.db
.DS_Store

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp

# =========================
# Cobertura/Testes
# =========================
TestResults/
coverage/

# =========================
# Secrets
# =========================
secrets.json
.env
.env.local

# =========================
# Documentacao (Apenas local)
# =========================
Documentacao/

# =========================
# Scripts Locais Não Versionados
# =========================
ObjetosBanco.sql